version: "3.8"

services:
  mysqlDB:
    image: mysql:8.0
    ports:
      - 3307:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: book
      MYSQL_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: Cinema-Booking-System/
    ports:
      - 8080:8080
    depends_on:
      - mysqlDB

volumes:
  mysql_data:
